@import 'base/reset';
@import 'utils/variables';


// body

body {
  width: 100%;
  margin: $gutter * 2 0;
  left: 0;
  top: 0;
  font-family: $font-primary;
  color: $color;
  line-height: $font-height;
}


// typography

h1 {
  width: 66.6%;
  color: $black;
  font-size: 1.5rem;
  font-weight: $font-weight-regular;
}

a {
  color: $link-color;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid $very-light-grey;
  transition: all .2s ease-in-out !important;
  transform: translateZ(0);
  &:hover {
    border-bottom: 1px solid $light-grey;
  }
}


// grid

header, main, footer {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: $gutter * 1.5 0;
}

.column {
  margin-right: $gutter;
  &:last-of-type {
    margin-right: 0;
  }
}


// align

%flex-start {
  align-items: flex-start;
}

%flex-center {
  align-items: center;
}

%flex-end {
  align-items: flex-end;
}

header .row, .row .clients, .contact-bar {
  @extend %flex-center;
}

.intro {
  @extend %flex-end;
}


// main

.intro {
  height: 320px;
}

hr {
  width: 90px;
  border: 1px solid $very-light-grey;
  margin: 0 auto 0 0;
}

.contact-bar {
  padding: $padding;
  border-radius: $radius;
  background-color: $light-grey;
  color: white;
  font-size: 0.875rem;
}

a.messenger, a.email {
  color: $light-grey;
  border-radius: $radius;
  font-weight: $font-weight-medium;
  line-height: 1;
  text-decoration: none;
  border: none;
  font-size: 0.8125rem;
  z-index: 2;
  &:hover {
    opacity: 0.8;
  }
}

a.messenger {
  padding: 10px 10px 11px 10px;
  background-color: $blue;
  img {
    vertical-align: middle;
  }
}

a.email {
  padding: $button-padding;
  background-color: white;
}

.thumbnails {
  a {
    border: none;
    z-index: 2;
    &:hover {
      opacity: 0.8;
    }
    img {
      width: (900px - $gutter * 2) / 3;
      height: auto;
      border-radius: $radius;
    }
  }
}

.thumbnails, .testimonials {
  margin-bottom: $gutter * 2;
}

.question {
  color: $black;
  font-weight: $font-weight-regular;
  margin-bottom: $gutter / 2;
}

mark {
  color: $dark-grey;
  background: $very-light-grey;
  &.unavailable {
    color: $red;
    background: $light-red;
  }
}

.author {
  display: flex;
  align-items: center;
  color: $light-grey;
  margin-top: $gutter / 2;
  img {
    margin-right: $gutter / 4;
    border-radius: 100%;
  }
}


// footer

footer, footer a {
  color: $light-grey;
}


// media

@media screen and (min-width: 1000px) {
  .column {
    flex: 1;
  }
}

@media screen and (max-width: 1000px) {
  body {
    margin: 0;
  }
  header, main, footer {
    max-width: 85%;
    margin: 0 auto;
  }
  h1 {
    width: 100%;
  }
  .row {
    margin: 40px 0;
  }
  .column {
    text-align: center;
    margin: 0 auto $gutter / 2 auto;
    &:last-of-type {
      margin: 0 auto;
    }
  }
  .intro {
    height: auto;
  }
  hr {
    margin: auto;
  }
  .thumbnails a {
    width: 30%;
    margin-bottom: $gutter / 2;
    img {
      width: 100%;
    }
  }
  .contact-bar {
    padding: $gutter * 0.75;
    text-align: center;
    justify-content: space-around;
    .message {
      width: 100%;
    }
    a.email {
      margin-top: $gutter / 2;
    }
  }
  .clients {
    justify-content: space-around;
    img {
      padding: $gutter / 4;
    }
  }
  .author {
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .clients {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .clients {
    width: 300px;
  }
  .thumbnails a {
    width: 100%;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .clients {
    width: 150px;
  }
}