@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:700");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

::selection {
  background: #fff6ea; }

body {
  width: 100%;
  margin: 80px 0;
  left: 0;
  top: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  color: #4a4a4a;
  line-height: 1.5; }

h1 {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #050505;
  font-size: 2.5rem;
  margin-bottom: 40px; }

h2 {
  color: #050505;
  font-size: 1.5rem;
  font-weight: 400; }

h3 {
  color: #050505;
  font-size: 1.375rem;
  font-weight: 500; }

a {
  color: #050505;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #f3f3f3;
  transition: all .2s ease-in-out !important;
  transform: translateZ(0); }
  a:hover {
    border-bottom: 1px solid #9b9b9b; }

header, main, footer {
  max-width: 900px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 60px 0; }

.column {
  margin-right: 40px; }
  .column:last-of-type {
    margin-right: 0; }

header .row, .row .clients, .contact-bar {
  align-items: center; }

.intro {
  align-items: flex-end; }

hr {
  width: 90px;
  border: 1px solid #f3f3f3;
  margin: 0 auto 0 0; }

.contact-bar {
  padding: 7px 7px 7px 15px;
  border-radius: 4px;
  background-color: #effdf6;
  color: #00c369;
  font-size: 0.875rem; }

a.messenger, a.email {
  color: white;
  border-radius: 4px;
  letter-spacing: 0.075rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  border: none;
  font-size: 0.75rem; }
  a.messenger:hover, a.email:hover {
    opacity: 0.8; }

a.messenger {
  padding: 10px 10px 11px 10px;
  margin-right: 10px;
  background-color: #0084ff; }
  a.messenger img {
    vertical-align: middle; }

a.email {
  padding: 10px 10px 11px 12px;
  background-color: #00ea7e; }

.thumbnails a {
  border: none; }
  .thumbnails a:hover {
    opacity: 0.8; }
  .thumbnails a img {
    width: 273.33333px;
    height: auto;
    border-radius: 4px; }

.thumbnails, .testimonials {
  margin-bottom: 80px; }

.question {
  color: #050505;
  font-weight: 500;
  margin-bottom: 20px; }

mark {
  color: #4d371b;
  background: #fff6ea; }
  mark.unavailable {
    color: #ef4d4d;
    background: #fff4f4; }

.author {
  display: flex;
  align-items: center;
  color: #9b9b9b;
  margin-top: 20px; }
  .author img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 100%; }

footer, footer a {
  color: #9b9b9b; }

@media screen and (min-width: 1000px) {
  .column {
    flex: 1; } }
@media screen and (max-width: 1000px) {
  body {
    margin: 0; }

  header, main, footer {
    max-width: 85%; }

  .row {
    margin: 40px 0; }

  .column {
    text-align: center;
    margin: 0 auto 20px auto; }
    .column:last-of-type {
      margin: 0 auto; }

  .intro figure {
    margin: auto; }

  hr {
    margin: auto; }

  .thumbnails a {
    width: 100%;
    margin-bottom: 20px; }
    .thumbnails a:last-of-type {
      margin-bottom: 0; }
    .thumbnails a img {
      width: 100%; }

  .contact-bar {
    padding: 30px;
    text-align: center;
    justify-content: space-around; }
    .contact-bar .message {
      width: 100%; }
    .contact-bar a.email {
      margin-top: 20px; }

  .clients {
    justify-content: space-around; }
    .clients img {
      padding: 10px; }

  .author {
    justify-content: center; } }
@media screen and (max-width: 850px) {
  .clients {
    margin-left: auto;
    margin-right: auto;
    width: 400px; } }
@media screen and (max-width: 500px) {
  .intro figure {
    display: none; }

  .clients {
    width: 300px; } }
@media screen and (max-width: 375px) {
  .clients {
    width: 150px; } }
.console {
  margin: 0 40px;
  line-height: 2; }

.blinking-cursor {
  color: #4a4a4a;
  animation: 1s blink step-end infinite; }

@keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #4a4a4a; } }

/*# sourceMappingURL=main.css.map */
