// fonts

$font-primary: 'Roboto', Arial, Helvetica, sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-height: 1.5;


// colors

$very-light-grey: #f9f9f9;
$light-grey: #9b9b9b;
$dark-grey: #555555;
$black: #000;
$blue: #0084ff;
$light-red: #FFF7F7;
$red: #ef4d4d;

$color: $dark-grey;
$link-color: $black;


// universal

$radius: 3px;
$padding: 7px 7px 7px 15px;
$button-padding: 11px 13px;
$gutter: 40px;