// fonts

$font-primary: 'Roboto', Arial, Helvetica, sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-height: 1.5;


// colors

$very-light-grey: #f8f8f8;
$light-grey: #ebebeb;
$grey: #9b9b9b;
$dark-grey: #555;
$black: #000;
$light-brown: #fcfaf7;
$brown: #ab865b;

$color: $dark-grey;
$link-color: $dark-grey;


// universal

$radius: 0px;
$padding: 7px 7px 7px 15px;
$button-padding: 11px 13px;
$gutter: 40px;