* {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

::selection {
	background-color: magenta;
}

body {
	max-width: 1140px;
	margin: 70px auto;
	border: 10px solid blue;
		-webkit-transform: rotate(0.5deg);
-moz-transform: rotate(0.5deg);  
}

.container {
	margin: 60px;
}

a.button {
	font-size: 13px;
	color: white;
	background-color: #B831FF;
	border-radius: 100px;
	box-shadow: 4px 4px black;
	padding: 10px 23px 12px 30px;
	text-transform: uppercase;
	font-style: italic;
	text-decoration: none;
	font-weight: bold;
	border: 2px solid black;
	margin-right: 10px;
	letter-spacing: 5pt;
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

a.button:hover {
	-webkit-animation:rainbow2 1s infinite;
-ms-animation:rainbow2 1s infinite;
-o-animation:rainbow2 1s infinite;
animation:rainbow2 1s infinite;
}
@-webkit-keyframes rainbow2 {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
@-ms-keyframes rainbow2 {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
@-o-keyframes rainbow2 {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
@keyframes rainbow2 {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
}
p {
	line-height: 2;
}

.grey {
	color: lightgrey;
}

.red {
	color: red;
	background-color: yellow;
}

.magenta {
	color: #66FF00;
	background-color: #C96BFA;
}

.blue {
	color: blue;
}

.highlight {
    font-style: italic;
    background-color: yellow;
    color: #66FF00;
}

p.cursive {
	font-size: 100px;
	font-weight: 900;
	letter-spacing: 5pt;
}

h1 {
	color: dark-grey;
	font-size: 80px;
	font-style: italic;
}

h2 {
	color: grey;
	font-size: 50px;
	font-style: italic;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 5pt;
}